.header
{
	height: 55px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #874C62;
	position: fixed;
  	top: 0;
  	width: 100%;
}

.name
{
	display: flex;
	align-items: center;
	margin-left: 100px;
}

#nameText
{
	font-size: 36px;
	font-weight: bold;
	color: #C98474;
}

#nameText:hover
{
	color: #F2D388;
}

.aboutHeader
{
	display: flex;
	align-items: center;
}

#aboutText
{
	text-decoration: none;
	color: #C98474;
}

#aboutText:hover
{
	color: #F2D388;
}

.skillsHeader
{
	display: flex;
	align-items: center;
}

#skillsText
{
	text-decoration: none;
	color: #C98474;
}

#skillsText:hover
{
	color: #F2D388;
}

.projectsHeader
{
	display: flex;
	align-items: center;
}

#projectsText
{
	text-decoration: none;
	color: #C98474;
}

#projectsText:hover
{
	color: #F2D388;
}

.contactHeader
{
	display: flex;
	align-items: center;
}

#contactText
{
	text-decoration: none;
	color: #C98474;
}

#contactText:hover
{
	color: #F2D388;
}

.resumeHeader
{
	display: flex;
	align-items: center;
	margin-right: 32px;
}

#resumeText
{
	text-decoration: none;
	color: #C98474;
}

#resumeText:hover
{
	color: #F2D388;
}