body 
{ 
  background: url(../images/cool-background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
}

p
{
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

h1
{
  font-family: Roboto, Arial;
}