html
{
  scroll-behavior: smooth;
}

body 
{ 
  /*background: url(../images/cool-background.png) no-repeat center center fixed; */
  background-color: #A7D2CB;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  font-family: Roboto, Arial;
}

p
{
  margin-top: 0;
  margin-bottom: 0;
  color: #C98474;
}

h1
{
  font-family: Roboto, Arial;
}

#aboutSection
{
  padding: 100px;
}

.redbullLogo
{
  border-radius: 10%;
  width: 100px;
  height: 100px;
}

.bradleyLogo
{
  border-radius: 10%;
  width: 100px;
  height: 100px;
}

#skillsSection
{
  padding: 100px;
}

.projects
{
  margin: 50px;
  margin-bottom: 520px;
  padding: 100px;
}

.contact
{
  margin: 50px;
  margin-bottom: 520px;
  padding: 100px;
}