.header
{
	height: 55px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #874C62;
	position: fixed;
  	top: 0;
  	width: 100%;
}

.name
{
	display: flex;
	align-items: center;
	margin-left: 100px;
}

.nameText
{
	font-size: 42px;
	font-weight: bold;
	color: #C98474;
	text-decoration: none;
}

.nameText:hover
{
	color: #F2D388;
}

.aboutHeader
{
	display: flex;
	align-items: center;
}

.aboutText
{
	text-decoration: none;
	color: #C98474;
}

.aboutText:hover
{
	font-weight: bold;
	color: #F2D388;
}

.skillsHeader
{
	display: flex;
	align-items: center;
}

.skillsText
{
	text-decoration: none;
	color: #C98474;
}

.skillsText:hover
{
	font-weight: bold;
	color: #F2D388;
}

.projectsHeader
{
	display: flex;
	align-items: center;
}

.projectsText
{
	text-decoration: none;
	color: #C98474;
}

.projectsText:hover
{
	font-weight: bold;
	color: #F2D388;
}

.contactHeader
{
	display: flex;
	align-items: center;
}

.contactText
{
	text-decoration: none;
	color: #C98474;
}

.contactText:hover
{
	font-weight: bold;
	color: #F2D388;
}

.resumeHeader
{
	display: flex;
	align-items: center;
	margin-right: 32px;
}

.resumeText
{
	text-decoration: none;
	color: #C98474;
}

.resumeText:hover
{
	font-weight: bold;
	color: #F2D388;
}